{% extends 'base.html' %}
{% block content %}

  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title border-bottom mb-4">About</h2>
      <p>
        LinkSpot is a social link sharing platform. You can share your internet
        journey of learning, entertainment and other useful links with others.
        Save people browsing time, by creating specific linkgroups. Your linkgroups
        can contain links to articles, videos, download links, web applications etc.
      </p>
    </div>
  </article>

{% endblock content %}
