{% extends 'base.html' %}
{% block content %}
<div class="content-section">

    <form class="mb-4" action="{% url 'catlin:search' %}" method="GET">
        <input class="col-md-9" type="text" name="search_string" value="" placeholder="Linkspot Search">
        <input class="btn btn-outline-info" type="submit" value="Search">
    </form>

    <h2 class="border-bottom mb-4">{{heading}}</h2>
    {% if type == 'category search' %}
      <form action="{% url 'catlin:search_pages' %}" method="GET">
        <input type="hidden" name="search_string" value="{{heading}}">
        <button class="btn btn-link" type='submit'>Search links for <strong>'{{heading}}'</strong></button>
      </form>
    {% endif %}

    {% if categories %}
    {% for category in categories %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{category.user.image.url}}"/>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'catlin:users_categories' category.user.user.username %}">{{category.user.user.username}}</a>
            <small class="text-muted">{{category.last_modified|date:"D d, Y"}}</small>
            <small class="text-muted float-right">{{category.page_count}} link{{category.page_count|pluralize}}</small>
          </div>
          <h2><a href="{% url 'catlin:category' category.id %}" class="article-title">{{category.title}}</a></h2>
          <p class="article-content">{{category.summary}}</p>
        </div>
      </article>
    {% endfor %}

      <div class="btn-group">
          {% if categories.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{categories.previous_page_number}}">Previous</a>
          {% endif %}
          {% for num in categories.paginator.page_range %}
            {% if categories.number == num %}
              <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
            {% elif num > categories.number|add:'-3' and num < categories.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
            {% endif %}
          {% endfor %}
          {% if categories.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{categories.next_page_number}}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{categories.paginator.num_pages}}">Last</a>
          {% endif %}
      </div>

    {% else %}
      <p><strong>No linkgroups matched your query.</strong></p>
    {% endif %}

</div>


{% endblock %}
