{% extends 'base.html' %}
{% block body %}

<h2>Search Results</h2>
<div class="search-categories">
  <h3>Link Groups</h3>
  {% if search_result_cats %}
  {% for category in search_result_cats %}
    <a href="{% url 'catlin:category' category.id %}">{{category.title}}</a><span> ({{category.page_count}} pages)</span>
    <p>Created By: {{category.user.user.username}}, Last Modified: {{category.last_modified}}</p>
    <p>Likes: {{category.like_count}}, Dislikes: {{category.dislike_count}}</p>
    <p>{{category.summary}}</p>
  {% endfor %}
  {% else %}
  <strong>No linkgroups matched with your search.</strong>
  {% endif %}
</div>

<div class="search-pages">
  <h3>Pages</h3>
  {% if search_result_pages %}
  {% for page in search_result_pages %}
    <a href="{% url 'catlin:goto_page' page.id %}">{{page.title}}</a><span> ({{page.views}} views)</span>
    <p>Likes: {{page.like_count}}, Dislikes: {{page.dislike_count}}</p>
    <p>{{page.summary}}</p>
  {% endfor %}
  {% else %}
  <strong>No pages matched with your search.</strong>
  {% endif %}
</div>

<div class="search-pages">

</div>

{% endblock %}
