{% extends 'base.html' %}

{% block content %}
<div class="content-section">
<a class="btn btn-outline-info btn-sm mb-4" href="{% url 'catlin:add_page' category.id %}">Add new Link</a>
<a class="btn btn-outline-danger btn-sm mb-4" href="{% url 'catlin:delete_category' category.id %}">Delete This Linkgroup</a>
<a class="btn btn-outline-success btn-sm mb-4" href="{% url 'catlin:category' category.id %}">Preview</a>

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{category.user.user.username}}</a>
      <small class="text-muted">{{category.last_modified|date:"D d, Y"}}</small>
    </div>
    <h2 class="article-title">{{category.title}}</h2>
    <p class="article-content">{{category.summary}}</p>
  </div>
</article>

<h3 class="border-bottom">Links <small>({{category.page_count}})</small></h3>
  {% if pages %}
  {% for page in pages %}
    <a href="{% url 'catlin:goto_page' page.id %}">{{page.title}}</a> <span>({{page.views}} view{{page.views|pluralize}})</span>
    <a href="{% url 'catlin:delete_page' page.id %}" class="btn btn-danger btn-sm float-right">X</a>
    <p class="text-secondary">
    <strong id="like_page_count{{page.id}}">Likes:</strong> {{ page.like_count }}
    <strong id="dislike_page_count{{page.id}}">Dislikes:</strong> {{ page.dislike_count }}
  </p><p>
    <strong class="text-body">Summary: </strong>{{page.summary}}</p>
  {% endfor %}
  {% else %}
  <strong>Currently, no links in this linkgroup.</strong>
  {% endif %}

</div>
{% endblock %}
