{% extends 'base.html' %}
{% block content %}
<div class="content-section">
  <form action="{% url 'catlin:delete_page_verify' page.id %}" method="post">{% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete Link</legend>
        <h2>Are you sure you want to delete the link "{{page.title}}"?</h2>
          <button type="submit" class="btn btn-outline-danger btn-sm mb-4">Delete</button>
          <a href="{% url 'catlin:update_category' page.category.id %}" class="btn btn-outline-secondary btn-sm mb-4" name="button">Cancel</a>
    </fieldset>
  </form>
</div>
{% endblock content%}
